/node_modules

/vendor

*.log

.DS_Store

Thumbs.db

/.idea

/.vscode

.env

.env.*

*.key

*.pem

/public/storage

/public/build

/public/hot

/storage/*.key

/storage/pail

/storage/logs/*

/storage/framework/cache/*

/storage/framework/sessions/*

/storage/framework/views/*

/storage/framework/testing/*

.phpunit.result.cache

/bootstrap/cache/*

Homestead.json

Homestead.yaml

composer.lock

package-lock.json

